@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Neue Haas Unica;
  src: url('$assets/fonts/NeueHaasUnica-Bold.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Neue Haas Unica;
  src: url('$assets/fonts/NeueHaasUnica-ExtraBold.ttf');
  font-weight: 700;
}